# Data Science Regression Project: Predicting Apartment Prices in Germany

In [297]:
from os import listdir
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
import re

In [298]:
# finding json files in givin path 
def find_csv_filenames(path_to_dir, suffix=".csv" ):
    filenames = listdir(path_to_dir)
    return [filename for filename in filenames if filename.endswith(suffix)]

In [299]:
def concatenate_path_csv_file():
    path_with_csv_files = []
    for csv_file in csv_files:
        path_with_csv_files.append(path+csv_file)
    return path_with_csv_files

## Data Load: Load germany apartment data, to see features

In [300]:
path = "./apartment_data/"
csv_files = find_csv_filenames(path)
df = pd.concat(map(pd.read_csv, concatenate_path_csv_file()), ignore_index=True)

In [301]:
df.head(5)

,sales_price,livable_surface,number_of_rooms,location
0,"335,000€",73m²,5,-Perl
1,Priceonrequest,112m²,6,EchternacherbrückTheexactadressisnotindicated
2,"128,000€",134m²,4,KölnerStraße-Burscheid
3,"95,000€",86m²,3,Goethestraße-Remscheid
4,"120,000€",66m²,3,Friedrich-Schiller-Straße-Ummendorf

In [302]:
# we have 831 apartmens and 4 features
df.shape

(831, 4)

In [303]:
# sales_price is the dependent feature, the rest are independet. We try to predict the sales_price
df.columns

Index(['sales_price', 'livable_surface', 'number_of_rooms', 'location'], dtype='object')

In [304]:
# unique method is used to get an overview of unique elements in specific index.
df['location'].unique()

array(['-Perl', 'EchternacherbrückTheexactadressisnotindicated',
       'KölnerStraße-Burscheid', 'Goethestraße-Remscheid',
       'Friedrich-Schiller-Straße-Ummendorf',
       'UnterdemKönigsberg-BadPyrmont', 'ImTonloch-Ahnsen',
       'Krokusweg-Dortmund', 'AmWald-Stolberg', 'Bertramstraße-Köln',
       'Hauptstraße-Meckenbeuren', '-Trier', 'PlackenEllern-Belm',
       'Usingerstraße-Köln', 'JülicherStraße-Eschweiler',
       'Taunusstraße-Kerpen', 'Hansengasse-Geislingen',
       'ObererWeg-Tübingen', 'Hutbergstraße-Nürnberg',
       '-Echternacherbrück', 'WeißenburgerStraße-Ludwigshafen',
       'Yorckstr.-Ludwigshafen', 'Immenweg-Berlin',
       'Jugendheimstraße-Dormagen', 'Harkortstraße-Castrop-Rauxel',
       'Bahnhofstraße-Castrop-Rauxel', 'Siemensstraße-Bamberg',
       'BitburgerStrasse-Echternacherbrück', 'Wilhelmstraße-Nürnberg',
       'Kazmairstraße-München', 'SchmidenerStraße-Stuttgart',
       'Hauptstraße-Hofgeismar', 'Saturnstraße-Bielefeld',
       'Zugspitzstraße-Lauben', 'AmKroog-Stapelfeld',
       'Steinwarder-Heiligenhafen', 'Schützenstraße-Neumünster',
       'Kellenkrug-Föhrden-Barl', 'Rosengrund-Büsum',
       'Kuftenstraße-Langenau', 'Tattersallstraße-Mannheim',
       'Schirmerstraße-Karlsruhe', 'Güterstraße-Trier',
       'Adolfinenstraße-Hannover', 'Kapellenstraße-Langenhagen',
       'Hostmannstraße-Ilsede', 'Brückenstraße-Arnsberg',
       'EssenerStraße-Gelsenkirchen', 'DinslakenerLandstraße-Wesel',
       'TannerStraße-Braunlage', 'St.-Bruno-Straße-Bergrheinfeld',
       'Ulmenweg-Peiting', 'Burgstraße-Frankfurt',
       'AmEuropakanal-Erlangen', 'KurzeneckerStraße-Elmstein',
       'Hauptstraße-Wolkenstein', 'Nerotal-Wiesbaden',
       'Ottostraße-Duisburg', 'Thorwaldsenanlage-Wiesbaden',
       'Zeißstraße-Lemgo', 'ZumIhnedieck-Dortmund',
       'Schönaustraße-Landshut', 'Talstraße-Donaueschingen',
       'NellmersbacherStraße-Leutenbach', 'Naumannstraße-Leipzig',
       'Reinholdstraße-Minden', 'Glacisstraße-Neu-Ulm',
       'Kronprinzenstraße-Pirmasens', 'RudolstädterStraße-BadBlankenburg',
       'Fritz-Ulrich-Straße-Heilbronn', 'Lauterbachweg-Heilbronn',
       'AnderWitschke-Halle', '-Merzig',
       'Alexander-Alesius-Straße-Leipzig', 'AnderMainbrücke-Hanau',
       'Godefriedstraße-Dortmund', 'Horstmarerstraße-Dortmund',
       'Nikolaistraße-Duisburg', 'Knospenstraße-München',
       'Westendstraße-München', 'IngolstädterStraße-Kipfenberg',
       'Katharinenstraße-Duisburg', '-Bitburg',
       'BerlinerStraße-Heidelberg', 'Hermann-Löns-Weg-Heidelberg',
       'Saarlandstraße-Lüdenscheid', 'Klobesstraße-Dortmund',
       'Gabelsbergerstraße-Nürnberg', 'Lerchenstraße-Nürtingen',
       'BeiderLohmühle-Obersulm', 'AmGutleuthaus-Oppenheim',
       'Minervastraße-Hagen', 'FeldhauserStraße-Gelsenkirchen',
       'Weidenstraße-Saarbrücken', 'HolzerStraße-Quierschied',
       'ImBungert-BergischGladbach', 'Scheideweg-Gelsenkirchen',
       'StockumerStraße-Hamm', 'Judenhof-Altenkunstadt',
       'UntereTorstraße-Feuchtwangen', '-Neuwied',
       'Sperlingweg-Vöhringen', 'Kirchstraße-BadLiebenzell',
       'LangeWanne-Salzgitter', 'Okerstraße-Salzgitter',
       'Rabenweg-Sangerhausen', 'August-Bebel-Straße-Plauen',
       'Amtsstraße-Meerane', 'Düsterstraße-Dortmund',
       'Schloßteichstraße-Chemnitz', 'Bahnhofstraße-Herten',
       'Reinhard-Uhlig-Straße-Chemnitz', 'Weinbergstraße-Dresden',
       'Julius-Leber-Straße-Oerlinghausen',
       'ReichenbacherStraße-Oerlinghausen', 'Wupperstraße-Leverkusen',
       'ReiningerStraße-Stemwede', 'Hafenstraße-Datteln',
       'Karlstraße-Hattingen', 'Dillenweg-Lengede',
       'Martinstraße-Darmstadt', 'DanzigerStraße-Trebur',
       'Simsonweg-Berlin', 'AmFranzosengraben-Wernberg-Köblitz',
       'PlauerStraße-Güstrow', 'MünchnerAllee-BadReichenhall',
       'Schubertstraße-Olching', 'AnderHerschelstraße-Ingolstadt',
       'AmWehberg-DorfMecklenburg', 'Rothlindenstraße-Schwandorf',
       'Haidweg-Birkenfeld', 'Lattweg-Sandhausen',
       'OttmarsheimerStraße-Stuttgart', 'Papiermühlenweg-Greiz',
       'Murgtalstraße-Rastatt', 'GartroperStraße-Duisburg',
       'FeudenheimerGrün-Mannheim', 'KäfertalerStraße-Mannheim',
       'Adalbert-Stifter-Straße-Karlsruhe', 'Bohlstraße-Nehren',
       'Hohenzollernstraße-SchwäbischGmünd',
       'Heinrich-Fries-Straße-Oedheim', 'Langemarkstraße-Oberhausen',
       'DresdenerStraße-Geringswalde', 'GroßgartacherStraße-Nordheim',
       'WesterholterStraße-Recklinghausen', 'BurloerWeg-Bocholt',
       'Kornweg-Bochum', 'Schmiedestraße-Kierspe', 'Homarstraße-Köln',
       'Industriestraße-Waltenhofen', 'Kantstraße-Neustadt',
       'GöttingerChaussee-Hannover', 'Schulstraße-Oderwitz',
       'RadolfzellerStraße-München', 'Goethestraße-Germering',
       'Ahornstraße-Kerpen', '-Mettlach',
       'WeißenburgerStraße-Gelsenkirchen',
       'BelforterStraße-Gelsenkirchen', 'SiedlungderJugend-Auerbach',
       'Markt-Lengefeld', 'BerlinerStraße-Mainz',
       'KölnerStraße-Jünkerath', 'Leonardo-da-Vinci-Allee-Frankfurt',
       'Friedrich-Wolf-Straße-Saalburg-Ebersdorf',
       'Mottelerstraße-Leipzig', 'Friedrichstraße-Pirmasens',
       'Wilseckerstraße-Kyllburg', 'AldenraderStraße-Duisburg',
       'Elsa-Brandström-Straße-Marl', 'Sternstraße-Gelsenkirchen',
       'Schulstraße-Velbert', 'Wilhelmstraße-Krefeld', 'ZumSiek-Faßberg',
       'HainholzerDamm-Elmshorn', 'Ankerstraße-Bremerhaven',
       'StargarderStraße-Oldenburg', 'Mauerstr.-Mannheim',
       'Bergstraße-Magdeburg', 'Karlstraße-Niederkrüchten',
       'Schulstraße-Hardert', 'Europaring-Wilhelmshaven',
       'Parkallee-Bremen', 'Gartenäckerweg-Nürnberg', 'AmRathaus-Küps',
       'WerdauerStraße-Zwickau', 'Resedastraße-Wesel',
       'ImFlachsgarten-BadLaasphe', 'HelmstedterStraße-Hannover',
       'LimbacherStraße-Chemnitz', 'Wagnerstraße-Oyten',
       'AlteGladbacherStraße-Krefeld', 'Königstraße-Duisburg',
       'AmZiegelkamp-Duisburg', 'Goethestraße-Willich',
       'Stadtbadstraße-Thalheim', 'SchleizerStraße-Remptendorf',
       'AltePoststraße-Wilhelmsthal', 'Liechtensteinstraße-Leipzig',
       'Otto-Hahn-Straße-Stockstadt', 'Brockskamp-Gelsenkirchen',
       'InderSchwarzerde-Limburg', 'ElsterbergerWeg-Elsterberg',
       'Schwalbenrainweg-Aschaffenburg', 'Sternenburgstraße-Schwelm',
       'AmLangenberg-Ingelheim', 'Industriestraße-Backnang',
       'Rappenberghalde-Tübingen', 'Karl-Schmidt-Straße-Magdeburg',
       'Gilsatalstraße-Neuental', 'Rathausstraße-Kerpen',
       'Lindenbrink-Ronnenberg', 'Glasbergstraße-Mömbris',
       'ButjadingerStraße-Bremen', 'Taunusblick-Lahnstein',
       'GrünerWeg-Oelde', 'AmSilo-Leipzig', 'PereserStraße-Groitzsch',
       'AmSonnenhang-Leverkusen', 'Schützenhofstraße-Jever',
       'Rückertstraße-Frankfurt', 'Stöckelstraße-Leipzig',
       'Zeißigwaldstraße-Chemnitz', 'Eichenweg-Grevenbroich',
       'Hubertusweg-Nettetal', 'Lochnerstraße-Ratingen',
       'HardenbergerStraße-Velbert', 'Buchenhöhe-Kerpen',
       'Dieselstraße-Krefeld', 'Mühlstraße-Mücheln',
       'AmSteinberg-Mönchengladbach', 'Barthstraße-BadBerleburg',
       'Margaretenstraße-Wilhelmshaven', 'Gökerstr.-Wilhelmshaven',
       'ObereGrundstraße-St.Andreasberg',
       'Jakob-Lengfelder-Straße-BadHomburg',
       'Landgrafenstraße-BadHomburg', 'Wredestraße-Nürnberg',
       'Bleichstraße-Ludwigshafen', 'Achtstraße-Echternacherbrück',
       'UnnaerStraße-Werl', 'KäferhainerStraße-Groitzsch',
       'Brahmsstraße-Meckenheim', 'Provinzialstraße-Dortmund',
       'Tannenwaldweg-BadHomburg', 'ObereHilsstraße-Delligsen',
       'BaltischerWeg-Dortmund', 'Wilhelm-Kunze-Ring-Salzgitter',
       'Holländerstraße-Berlin', 'Helwingerrodestraße-Hannover',
       'Westbergstraße-Crimmitschau', 'Oswald-Wiersich-Straße-Neustadt',
       'Struthbachweg-Kassel', 'Eisenbahnstraße-Leipzig',
       'Sachsenplatz-Gera', 'Nestmannstraße-Gera',
       'Vogelreichsweg-BadPyrmont', 'Ringstraße-BadSachsa',
       'Martin-Luther-Straße-Remscheid', 'Overbruckstraße-Duisburg',
       'Potthoffstraße-Schwelm', 'Hauptstraße-Göllheim',
       'SulingerStraße-Bruchhausen-Vilsen', '-Saarlouis', '-Schweich',
       'MunkmarscherChaussee-Sylt', 'Glück-Auf-Straße-Dorsten',
       'Falkstraße-Frankfurt', 'Riedweg-Meckenbeuren',
       'PapenhuderStraße-Hamburg', 'Ellerbruchstraße-Dorsten',
       'Meranierring-Bayreuth', 'Grillostraße-Gelsenkirchen',
       'Ziegeleistraße-Pottenstein', 'Dahlienweg-Bindlach', '-Dillingen',
       'Friedrich-Ebert-Straße-Duisburg', 'Aue-Wuppertal',
       'Flaßheide-Hamburg', 'Brunnenstraße-Mainz',
       'NordhauserStraße-Berlin', 'WehringhauserStraße-Hagen',
       'AmSchiffberg-Hehlen', 'Heinrich-Sauter-Weg-BadLiebenzell',
       'Leonhardtstraße-Chemnitz', 'StaufnerStraße-Lindenberg',
       'HolsteinerStraße-Schacht-Audorf',
       'Richard-Schirrmann-Straße-Mainz',
       'Hohenzollenstraße-Radevormwald', 'AmGonsenheimerSpieß-Mainz',
       'Olderstiege-BadBentheim', 'ImGemerstal-Rodalben', '-Kanzem',
       'Roderbruchstraße-Hannover', 'Stauderstraße-Essen',
       'ImBrünneleacker-Umkirch', 'Elbestraße-Bremerhaven',
       'HeidelbergerStraße-Darmstadt', 'Schützenstraße-Berlin',
       'Karl-Ferlemann-Straße-Leipzig', 'Sonnenwall-Duisburg',
       'Prinzenstraße-Duisburg', 'WismarerStraße-Rotenburg',
       'Rückertstraße-Plauen', 'StettinerStraße-Schüttorf',
       'Nordstraße-Gera', 'Boyersweg-Lotte',
       'Gerhart-Hauptmann-Ring-Frankfurt', 'FrankfurterStraße-BadVilbel',
       'RuppinerChaussee-Berlin', 'AmHang-Scharbeutz',
       'St.-Tönnis-Straße-Köln',
       'Rudolf-Diesel-Straße-Linkenheim-Hochstetten',
       'FranzensbaderStraße-Berlin', 'Schölerpad-Essen',
       'Schulberg-Lengede', 'Steige-Stadtlauringen',
       'Theodor-Schäfer-Straße-Husum', 'AlteReichenbacherStraße-Oelsnitz',
       'GroßeAllee-Bocholt', 'Bahnhofstraße-Bönen',
       'Fasanenstraße-Helmstedt', 'Havelstraße-Darmstadt',
       'Kerckhoffstraße-Essen', 'Wolbeckstraße-Essen',
       'Brückenstraße-Rödental', 'Rilkestraße-Dormagen',
       'Dimpfelstraße-Leipzig', 'LütznerStraße-Leipzig',
       'Jahnstraße-Burgau', 'Klausenerstraße-Leipzig',
       'NombericherStraße-Duisburg', 'Alleestraße-Duisburg',
       'Bahnhofstraße-Pößneck', 'Rochlitzstraße-Leipzig',
       'Blücherstraße-Leipzig', 'Schülerstraße-Gera',
       'Engelbertstraße-Essen', 'SaarnerStraße-Duisburg',
       'Eigenstraße-Duisburg', 'ImGründchen-Ober-Ramstadt',
       'CrangerStraße-Gelsenkirchen', '-Losheim', 'Leuwstraße-Stolberg',
       'Halskestraße-Remscheid', 'AhrenerFeld-Mönchengladbach',
       'Gärtnergasse-Nieder-Olm', 'KeilbeckerStraße-Radevormwald',
       'KleineWallstraße-Neustadt-Glewe', 'MagdeburgerAllee-Erfurt',
       'PolsumerStraße-Gelsenkirchen', 'Freiheitsweg-Berlin',
       'Bahnhofstraße-Floß', 'Hirschengasse-Saalfeld',
       'Tunnelstraße-Berlin', 'Hainweg-Weiterstadt',
       'Ortsstraße-SaalfelderHöhe', 'AufdemBrinke-Lügde',
       'Westfalenplatz-Lotte', '-Tawern', '-Palzem', '-Langsur',
       'KemptenerStraße-Senden', '-Speicher', '-Klüsserath',
       'Obermarkstraße-Dortmund', 'Rotbachstraße8-Trier', '-Trittenheim',
       'Asamstraße-Ingolstadt', '-Wallerfangen', 'Eulenstraße-Rohrdorf',
       '-Prümzurlay', 'Freiherr-von-Stein-Straße-Regensburg',
       'OlewigerStraße140a,54295Trier-Trier', 'OlewigerStraße140a-Trier',
       '-Saarbrücken', '-Zerf', 'Sperberstraße-Mönchengladbach',
       'Holsthumerstr.-Wolsfeld', 'Holsthumerstr-Wolsfeld', '-Konz',
       '-Irrel', 'AmSandkamp-Reinbek',
       'NeuwiedTheexactadressisnotindicated', '-Pluwig',
       'Bliespromenade5-Neunkirchen', '-Pirmasens',
       'Hammarskjöldring-Frankfurt', '-Saarburg', '-Neuss', '-Berlin',
       '-Kenn', '-Trassem', 'Langenscheidtstraße-Berlin',
       '-Friedrichsthal', '-Kirf', '-Celle', '-Elsdorf', '-Nittel',
       '-Wadgassen', '-Regen', '-St.Wendel', 'Europa-Allee11-Frankfurt',
       '-Leiwen', '-Viernheim', '-Quierschied', '-Neuerburg',
       '-Überherrn', '-Pellingen', 'Lambertistraße1-Trier', '-Schmelz',
       '-Lebach', 'ImScheuerngarten-Bollendorf', '-Longuich', '-Sulzbach',
       '-Tholey', 'Härtenbühlstraße-Beuren', '-Freudenburg',
       'Beethovenstraße-WeilderStadt', '-Beckingen',
       'Erzgießereistraße-München', '-Neunkirchen', '-Eppelborn',
       '-Weitersburg', '-Rüsselsheim', 'AndenReepen-Elbe', '-Wadern',
       '-Völklingen', '-Heusweiler', 'Sauerländig-Haßfurt',
       'Schaberfeld-Solingen', '-Hannover', '-Blieskastel',
       'Westerbergstraße-Moosburg', '-Wiesbaden', '-Regensburg',
       'Burgstraße6-Bollendorf', '-Oberhausen',
       'Bürgermeister-Kutterer-Str.-Ludwigshafen', '-Mehring',
       '-Zweibrücken', 'Winterbergstraße21A-Saarbrücken',
       '-Kleinblittersdorf', '-Weiskirchen', '-Gerolstein',
       'Bräuanger-Nandlstadt', '-Garbsen', '-Föhren',
       'Görresstraße-Berlin', 'Seydelstraße-Berlin', '-Riegelsberg',
       '-Gießen', '-Offenbach', '-Rehlingen-Siersburg', '-Langen',
       'Beckerstraße-Chemnitz', '-Raunheim', 'Lutherstraße-Chemnitz',
       'HildesheimerStraße-Dortmund', 'Südstraße-Höxter',
       'Reilstraße-Halle', 'Felsenstraße-Halle',
       'ZehdenickerStraße-Berlin'], dtype=object)

In [305]:
# removing streets name from location
df['location'] = df['location'].apply(lambda x: x.split('-')[-1])

In [306]:
df.head()

,sales_price,livable_surface,number_of_rooms,location
0,"335,000€",73m²,5,Perl
1,Priceonrequest,112m²,6,EchternacherbrückTheexactadressisnotindicated
2,"128,000€",134m²,4,Burscheid
3,"95,000€",86m²,3,Remscheid
4,"120,000€",66m²,3,Ummendorf

In [307]:
# first location is the most frequently-occurring location. 
df['location'].value_counts()

Trier             51
Duisburg          38
Berlin            30
Saarbrücken       22
Mettlach          21
                  ..
Auerbach           1
Haßfurt            1
SaalfelderHöhe     1
Thalheim           1
Eppelborn          1
Name: location, Length: 295, dtype: int64

## Drop features that are not required to build our model

In [308]:
# we will work also with location to show how to handle categorical data
df_draft = df.drop(['location'],axis='columns')
df_draft.shape

(831, 3)

## Handle missing data if its NaN.

In [309]:
'''
We have no NaN values but something like: sales_price: Priceonrequest
'''
df = df.dropna()
df.isnull().sum()

sales_price        0
livable_surface    0
number_of_rooms    0
location           0
dtype: int64

In [310]:
index_sales_price = df.columns.get_loc('sales_price')
price_pattern = r'([0-9]*(,|.)?[0-9]*(,|.)?[0-9]*\€)'

for row in range(0, len(df)-1):
    try:
        price = re.search(price_pattern, df.iat[row, index_sales_price]).group()
    except Exception as e:
        # drops sales_prices values which does not contains numerical value e.g. Priceonrequest
        df = df.drop(df.index[[row]])
    price = 'None'

In [311]:
df.head()

  sales_price livable_surface number_of_rooms    location
0    335,000€            73m²               5        Perl
2    128,000€           134m²               4   Burscheid
3     95,000€            86m²               3   Remscheid
4    120,000€            66m²               3   Ummendorf
5     68,000€            59m²               2  BadPyrmont

In [312]:
df.head()

  sales_price livable_surface number_of_rooms    location
0    335,000€            73m²               5        Perl
2    128,000€           134m²               4   Burscheid
3     95,000€            86m²               3   Remscheid
4    120,000€            66m²               3   Ummendorf
5     68,000€            59m²               2  BadPyrmont

In [313]:
# remove € sign and ',' from entire sales_prices...
df['sales_price'] = df['sales_price'].replace({r'\€':''}, regex = True)
df['sales_price'] = df['sales_price'].replace({r',':'.'}, regex = True)
df['livable_surface'] = df['livable_surface'].replace({r'm\u00b2':''}, regex = True)
df.rename(columns={'sales_price': 'sales_price', 'livable_surface': 'livable_surface in m\u00b2', 'number_of_rooms': 'number_of_rooms', 'location':'location'}, inplace=True)

In [295]:
df.head()

  sales_price livable_surface in m² number_of_rooms    location
0     335.000                    73               5        Perl
2     128.000                   134               4   Burscheid
3      95.000                    86               3   Remscheid
4     120.000                    66               3   Ummendorf
5      68.000                    59               2  BadPyrmont