# Data Science Regression Project: Predicting Apartment Prices in Germany

In [1]:
from os import listdir
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
import re

In [2]:
# finding json files in givin path 
def find_csv_filenames(path_to_dir, suffix="export_dataframe.csv" ):
    filenames = listdir(path_to_dir)
    return [filename for filename in filenames if filename.endswith(suffix)]

In [3]:
path = r"./house_data/"
csv_file = find_csv_filenames(path)[0]

In [4]:
df = pd.read_csv(path+csv_file)

In [5]:
df.head()

  sales_price livable_surface_in_m² land_in_m²  number_of_rooms     location
0     548.000                   123        894                3  Merzkirchen
1      64.000                    76        612                4    Salzwedel
2     485.000                   180     71,600                6    Gusterath
3      47.000                    96        117                4   Heusweiler
4     595.000                   389      1,230               15         Zerf

#  Feature Engineering
<h6> Add new feature called price per square feet </h6>